header{
	padding: 20px;
}

header h1{
	color: green;
	font-family: "Times New Romans";
	margin: 0;
}

header nav{
	font-size: 24px;
	display: flex;
	justify-content: flex-end;
}

header .row{
	display: flex;
	align-items: center;
}
