header{
	max-width: 3000px
	margin: 0 auto;
	padding: 20px 0;
	background-color: black;
	border-width: 0 0 2px 0;
	border-style: solid;
	border-color: red;
	color: white;
}

header h1{
	font-family: "Times New Romans";
	margin: 0;
}

header nav{
	font-size: 24px;
	display: flex;
	justify-content: flex-end;
}

header p{
	padding: 0 15px;
	margin: 0;
}

header .row{
	display: flex;
	align-items: center;
}

body{
	background-color: grey;
	background-size: cover;
	margin: 0;
}

body .row a{
	display: flex;
	color: white;
	text-decoration: none;
}

footer {
	background-color: black;
	padding: 20px;
	display: flex;
	
}