header{
	padding: 20px 0;
}

header h1{
	color: green;
	font-family: "Times New Romans";
	margin: 0;
}

header nav{
	font-size: 24px;
	display: flex;
	justify-content: flex-end;
}

header p{
	padding: 0 20px;
	margin: 0;
}

header .row{
	display: flex;
	align-items: center;
}

body{
	background-color: grey;
	background-size: cover;
	margin: 0;
}
